node_modules/**
webview-ui/node_modules/**
webview-ui/src/**
src/**
webview-ui/public/**
webview-ui/index.html
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/package.json
webview-ui/package-lock.json
**/*.map
**/.vscode/**
**/.vscode-test/**
**/tsconfig.json
**/package-lock.json
**/.git/**
**/.DS_Store
**/README.md
**/.gitignore